x-drawer {
  &[placement='top'] {
    --drawer-width: 100%;
    --drawer-left: 0;
    --drawer-top: 0;
    .drawer {
      width: 100%;
      height: var(--drawer-minheight, 0px);
    }
  }

  &[placement='left'] {
    --drawer-height: 100%;
    --drawer-left: 0;
    --drawer-top: 0;
    .drawer {
      width: var(--drawer-minwidth, 0px);
      height: 100%;
    }
  }

  &[placement='bottom'] {
    --drawer-bottom: 0;
    --drawer-left: 0;
    --drawer-width: 100%;
    .drawer {
      width: 100%;
      height: var(--drawer-minheight, 0px);
    }
  }

  &[placement='right'] {
    --drawer-top: 0;
    --drawer-right: 0;
    --drawer-height: 100%;
    .drawer {
      width: var(--drawer-minwidth, 0px);
      height: 100%;
    }
  }

  &[open] {
    .drawer-overlay {
      display: block;
    }
    --drawer-open: block;
  }

  &[motion='in'] {
    --drawer-animation: slide-in 255ms forwards;
  }

  &[motion='out'] {
    --drawer-animation: slide-out 255ms forwards;
  }

  &[overlay] {
    .drawer-overlay {
      display: var(--drawer-open, none);
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.075);
    }
  }

  .drawer {
    z-index: 2;
    position: absolute;
    overflow: hidden;
    top: var(--drawer-top);
    left: var(--drawer-left);
    right: var(--drawer-right);
    bottom: var(--drawer-bottom);
    background-color: var(--drawer-background-color, var(--color-primary-base));
    animation: var(--drawer-animation);
  }

  @keyframes slide-in {
    100% {
      width: var(--drawer-width, auto);
      height: var(--drawer-height, auto);
      overflow: unset;
    }
  }
  @keyframes slide-out {
    0% {
      width: var(--drawer-width, auto);
      height: var(--drawer-height, auto);
    }
  }
}
