x-button {
  --button-base-color: #eee;
  --button-font-color: #000;

  &[variant='primary'] {
    --button-base-color: blue;
  }
  &[color='secondary'] {
    --button-base-color: blue;
  }
  &[color='tertiary'] {
    --button-base-color: pink;
  }
  &[color='success'] {
    --button-base-color: var(--color-light-success);
  }
  &[color='info'] {
    --button-base-color: var(--color-light-info);
  }
  &[color='warning'] {
    --button-base-color: var(--color-light-warning);
  }
  &[color='error'] {
    --button-base-color: var(--color-light-danger);
  }

  &[variant='solid'] {
    --button-font-color: #fff;
    --button-background-color: var(--button-base-color);
    --button-border: 1px solid var(--button-base-color);
  }
  &[variant='outline'] {
    --button-border: 1px solid var(--button-base-color);
    --button-font-color: var(--button-base-color);
    --button-background-color: transparent;
  }
  &[variant='none'] {
    --button-border: none;
    --button-background-color: transparent;
    --button-font-color: var(--button-base-color);
  }

  &[elevated] {
    --button-box-shadow: 0px 0px 4px 0px rgb(0 0 0/ 30%);
  }
  &[rounded] {
    --button-radius: 50%;
  }
  &[disabled] {
    --button-cursor: no-drop;
  }

  button {
    cursor: var(--button-cursor, pointer);
    color: var(--button-font-color);
    width: var(--button-width, auto);
    height: var(--button-height, auto);
    padding: var(--button-padding, 12px);
    border-radius: var(--button-radius);
    box-shadow: var(--button-box-shadow, none);
    background-color: var(--button-background-color, none);
    border: var(--button-border);
    &:hover {
      // color: #fff;
      //  background-color: blue; // Need to define
    }
  }
}
