x-card {
  &[rounded] {
    --card-rounded: 15px;
  }

  &[elevated] {
    --card-box-shadow: 0px 0px 4px 0px rgb(0 0 0/ 30%);
  }

  &[variant='outline'] {
    --card-border: 1px solid #dadada;
  }

  &[variant='elevated'] {
    --card-box-shadow: 0px 0px 4px 0px rgb(0 0 0/ 30%);
  }

  div {
    &[role='header'] {
      position: relative;
      border-radius: var(--card-rounded) var(--card-rounded) 0 0;
    }
    &[role='body'] {
      flex: 1;
      position: relative;
    }
    &[role='footer'] {
      position: relative;
      border-radius: 0 0 var(--card-rounded) var(--card-rounded);
    }
  }

  display: flex;
  position: relative;
  flex-direction: var(--card-direction, column);
  width: var(--card-width, auto);
  height: var(--card-height, auto);
  border: var(--card-border, none);
  border-radius: var(--card-rounded, 0px);
  box-shadow: var(--card-box-shadow, none);
  background-color: var(--card-background, #fff);
  &:hover {
    //  box-shadow: 0px 0px 10px 0px rgb(0 0 0/ 30%);
  }
}
