x-card {
  &[border] { 
    --card-border: 1px solid #dadada;
  }
  &[rounded] { 
    --card-rounded: 5px;
  }
  &[elevated] { 
    --card-box-shadow: 0px 0px 4px 0px rgb(0 0 0/ 30%);
  }
  div {
    &[role="header"] {
      flex-shrink: 0;
      position: relative;
      border-bottom: 1px solid #dadada;
    }
    &[role="body"] { 
      flex-shrink: 0;
      flex-grow: 1;
      position: relative; 
      min-height: 150px;
    }
    &[role="footer"] {
      flex-shrink: 0;
      border-top: 1px solid #dadada;
      position: relative;
    }
  }
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  background-color: var(--card-background, #fff);
  width: var(--card-width, auto);
  height: var(--card-height, auto);
  border: var(--card-border, none);
  border-radius: var(--card-rounded, none);
  box-shadow: var(--card-box-shadow, none);
  &:hover { 
  //  background-color: var(--card-hover-background-color, none);
  }
}
