x-media {
  height: inherit;
  position: absolute; 
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  &[overlay] { 
    background-color: rgba(255, 255, 240, 0.068);
  }
  &[center] { 
    --media-center: 50% 50%; 
    --media-cover: none;
  }
  &[media-index] { 
      --media-index: 0; 
  }
  img {
    object-fit: var(--media-cover, cover);
    object-position: var(--media-center, none);
    position: absolute; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    z-index: var(--media-index, 0)
  }
}
