x-container {
  display: block;
  padding: 30px;
  position: relative;
  .inner-wrapper { 
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    gap: 1rem;
    max-width: 800px;

    x-card:nth-child(1) { 
       grid-column: span 2;
    }
  }
}
