x-container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  .inner-wrapper {
    display: block;
    position: relative;
    width: var(--container-width, 80%);
    height: var(--container-height, auto);
    background-color: var(--container-background-color);
  }
}
