x-popover {
  display: inline-block;
  position: relative;
  width: fit-content;
  &[placement='top'] {
    --popover-origin-top: -5px;
    --popover-origin-left: 50%;
    --popover-trans-x: -50%;
    --popover-trans-y: -100%;
  }
  &[placement='left'] {
    --popover-origin-top: 50%;
    --popover-origin-left: -5px;
    --popover-trans-x: -100%;
    --popover-trans-y: -50%;
  }
  &[placement='bottom'] {
    --popover-origin-top: 100%;
    --popover-origin-left: 50%;
    --popover-trans-x: -50%;
    --popover-trans-y: 5px;
  }
  &[placement='right'] {
    --popover-origin-top: 50%;
    --popover-origin-left: 100%;
    --popover-trans-x: 5px;
    --popover-trans-y: -50%;
  }
  &[placement='bottom-right'] {
    --popover-origin-top: 100%;
    --popover-origin-left: 100%;
    --popover-trans-x: -100%;
    --popover-trans-y: 5px;
  }
  &[placement='bottom-left'] {
    --popover-origin-top: 100%;
    --popover-origin-left: 0;
    --popover-trans-x: 0;
    --popover-trans-y: 5px;
  }
  &[placement='left-top'] {
    --popover-origin-top: 0%;
    --popover-origin-left: -5px;
    --popover-trans-x: -100%;
    --popover-trans-y: 0%;
  }
  &[placement='right-top'] {
    --popover-origin-top: 0;
    --popover-origin-left: 100%;
    --popover-trans-x: 5px;
    --popover-trans-y: 0;
  }
  &[variant='outline'] {
    --popover-outline: 1px solid #dadada;
  }
  &[variant='elevation'] {
    --popover-elevation: 0 0 5px 0 rgb(51 51 51 / 50%);
  }
  .origin {
    display: block;
    z-index: 9;
    position: absolute;
    width: 5px;
    height: 5px;
    left: var(--popover-origin-left, 0);
    top: var(--popover-origin-top, 0);
    background-color: transparent;
  }
  &[open] [role='popover'] {
    display: block;
  }
  [role='popover'] {
    z-index: 99;
    position: absolute;
    display: none;
    width: var(--popover-width, auto);
    height: var(--popover-height, auto);
    left: var(--popover-origin-left, 0);
    top: var(--popover-origin-top, 0);
    border: var(--popover-outline);
    box-shadow: var(--popover-elevation);
    transform: translate(var(--popover-trans-x, 0), var(--popover-trans-y, 0));
    background-color: #fff;
    .x-popover--close {
      position: absolute;
      z-index: 99;
      top: 0;
      right: 0;
    }
  }
}
