x-grid {
  // grid |inline-grid
  display: var(--grid-type, grid);
  grid-template-columns: var(--grid-columns, none);
  // masonry
  grid-template-rows: auto;
  // start end  center stretch space-around space-between space-evenly
  justify-content: var(--gird-justify-content);
  align-content: var(--grid-align-content);
  // start end center stretch
  justify-items: var(--gird-justify-items);
  align-items: var(--grid-align-items); 
  // row gap, column gap
  gap: var(--grid-gap, 10px);
  > * { 
    position: relative;
  }
}
