x-divider {
  display: block;
  &[horizontal] {
  }

  &[placement='left'] {
    left: 0;
  }

  &[placement='top'] {
    left: 0;
    top: 0;
  }

  &[placement='bottom'] {
    left: 0;
    bottom: 0;
  }

  &[placement='right'] {
    right: 0;
  }

  padding: 5px;
  position: var(--divider-position, absolute);

  span {
    width: 100%;
    height: 1px;
    display: block;
    border-bottom: 1px solid var(--border-divider-color);
  }
}
