x-appbar {
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  height: 100px;
  gap: 5px;
  div { 
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
  }
}
