x-box {
  box-sizing: border-box;
  &[inline] {
    --inline-flex: inline-flex;
  }
  border-radius: inherit;
  display: var(--inline-flex, flex);
  flex-direction: var(--box-direction, row);
  position: relative;
  gap: var(--box-gap);
  width: var(--box-width);
  height: var(--box-height);
  align-items: var(--box-align-items);
  justify-content: var(--box-justify-content);
  align-content: var(--box-align-content);
}
